{% include 'header.html' %}

<body>
    <div class="card bg-dark text-white">
        <img src="static/images/night-clouds-img.jpg" class="card-img" alt="dandelions during sunset">

        <div class="card-img-overlay text-center" id="text-card">
            <h1 class="card-title" id="success-card"></h1>
            <h1 class="card-title" id="success-card"></h1>
            <h1 class="card-title" id="success-card">You are Subscribed to our service!!</h1>
            <h5 class="card-title" id="success-card2">(emails are sent early in the morning)</h5>
        </div>
    </div>

</body>


{% include 'footer.html' %}
